
*{
margin:0px;
padding:0px;
  }
body {

font family: roboto;

background-image: url("https://images.wallpaperscraft.com/image/cacti_succulents_art_128305_1366x768.jpg");
  background-repeat: no-repeat;
  
}


table {
  border: 1px solid white;
table-color:white;
}
