body {

font family: roboto;

Style="background-image:https://images.app.goo.gl/XDfPBoV9TubpMvnM9;"
  background-repeat: no-repeat;
background-size: 1920*1080;

<style>
table, th, td {
  border: 1px solid white;
}
</style>

<table Style="color:white;">

margin:2px 3px 4px 5px;
padding:2px;


}
