
*{
margin:0px;
padding:0px;
  }
body {

font family: roboto;

background-image: url("qwer.jpg");
  background-repeat: no-repeat;
  background-size: 2000px;
  
}


table {
  border: 1px solid white;
table-color:white;
}
